@{
    ViewData["Title"] = "Pagina de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Arquitectura de Software</h1>
    <p>Personapi-dotnet es aplicación web desarrollada utilizando el framework .NET, ASP.NET, y las tecnologías de MVC y DAO para implementar un patrón de arquitectura bien estructurado. La aplicación utiliza Swagger para documentar y probar las API REST, facilitando la integración y el uso de los servicios por parte de los desarrolladores. El proyecto está orientado a gestionar datos de personas, profesiones, estudios y teléfonos, permitiendo crear, leer, actualizar y eliminar registros de manera eficiente. Además, se aplica un enfoque de diseño limpio y modular, asegurando un código mantenible y escalable.El proyecto fue realizado por Felipe García Castiblanco, María Joe Avellaneda Balamba y Ana María Ortegón Sepúlveda. </p>
</div>
